@import "./fonts.css";

html {
  font-size: 10px;
  font-family: "Lato Regular", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  line-height: 6px;
  font-family: "Lato Bold", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 18px;
  font-family: "Lato Black", sans-serif;
  font-weight: 900;
  letter-spacing: -0.1em;
}

h3 {
  font-size: 1.8rem;
  line-height: 18px;
  font-family: "Lato Black", sans-serif;
  font-weight: 900;
}

h4 {
  font-size: 1.8rem;
  line-height: 25px;
  font-family: "Lato Light", sans-serif;
  font-weight: 300;
}

p {
  font-size: 1.2rem;
  line-height: 22px;
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
}

section {
  max-width: 1020px;
  margin: 0 auto;
}

.wrapper {
  width: 940px;
  margin: auto;
}

input,
textarea {
  color: #f0d8d9;
  padding-left: 15px;
  box-sizing: border-box;
}

.header,
.logo {
  color: #ffffff;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  height: 84px;
}
.header-container {
  margin: auto;
  background-color: #2d303a;
}

.header-container::after {
  content: "";
  height: 7px;
  display: block;
  background-color: #323746;
}

.logo {
  font-size: 25px;
  text-decoration: none;
  display: block;
  margin-top: 36px;
}

.logo__star {
  color: #eb5055;
}

.header__navigation {
  width: 370px;
  margin-top: 42px;
}

.menu-item > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 6px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
}

.menu-item > a:hover,
.item_active {
  color: #f06c64;
}

.navigation {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.01em;
}

/* BANNER SECTION */

.banner-container {
  background-color: #f06c64;
  margin: 0 auto;
}

.banner-wrapper {
  position: static;
  margin: 0 auto;
  height: 595px;
}

.banner-container::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #ea676b;
}

.iphone-vertical {
  position: relative;
  top: 52px;
  left: 72px;
}

.iphone-horisontal {
  position: absolute;
  top: 265px;
  right: 275px;
}

.slide-arrow:hover {
  background-color: royalblue;
  cursor: pointer;
}

.arrow-left {
  position: absolute;
  top: 372px;
  left: 206px;
}

.arrow-right {
  position: absolute;
  top: 372px;
  right: 205px;
}

/* SERVICE CONTAINER*/

.service-container {
  margin: 0 auto;
  height: 499px;
  background-color: #f2f2f2;
}

.wrapper-service {
  margin: auto;
  width: 940px;
}

.service-header {
  padding-top: 69px;
  color: #666d89;
  text-align: left;
}

.service-container-description {
  line-height: 28px;
  padding-top: 28px;
  width: 940px;
  height: 57px;
  color: #767e9e;
  text-align: left;
}

.service-row {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.service-row:nth-child(2n) {
  margin-top: -30px;
}

.service-block {
  margin-top: -1px;
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.service-ico {
  width: 59px;
  height: 59px;
}

.service-block__data {
  display: block;
}

.service-block-description {
  margin-top: 9px;
  width: 219px;
  height: 128px;
  color: #767e9e;
  text-align: left;
}

.service-block-description {
  text-align: justify;
}

.service-block__name {
  margin-top: -2px;
  color: #666d89;
  text-align: left;
  letter-spacing: -0.2em;
}

.service-container::after {
  counter-reset: "";
  display: block;
  height: 5px;
  background-color: white;
}

/* Singolo 2 styles */

.portfolio-container {
  margin: auto;
  height: 864px;
  background-color: #464b5e;
}

.portfolio-wrapper {
  padding: 0 40px 0;
}

.header-gallery {
  padding: 70px 0 0;
}

.portfolio-header,
.about-us-header,
.person-name {
  color: #666d89;
}

.portfolio-header,
.about-us-header {
  margin-bottom: 26px;
}

.about-us-header {
  margin-top: 5px;
  letter-spacing: -0.09em;
}

.portfolio-header {
  margin-top: 4px;
  letter-spacing: -0.08em;
}

.persons-wrapper {
  width: 940px;
  margin: 0 auto;
}

.person-name {
  font-size: 18px;
  margin-bottom: 9px;
  letter-spacing: -0.1em;
}

.categoria-tags {
  width: 288px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0 9px;
}

.portfolio-description {
  margin-bottom: 3px;
  color: #767e9e;
  line-height: 30px;
  font-size: 20px;
}

.tag {
  padding: 0px 6px;
  border-radius: 5px;
  background: 1px solid #767e9e;
  border: 1px solid #666d89;
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 22px;
  font-weight: 400;
  cursor: pointer;
  color: #767e9e;
}

.tag-bordered {
  background-color: #2d303a;
  border-color: #c5c5c5;
  color: #dedede;
}

.tag:hover {
  background-color: #2d303a;
  border-color: #c5c5c5;
  color: #dedede;
}

.picture {
  margin-top: 10px;
  width: 220px;
  height: 187px;
  overflow: hidden;
  margin-bottom: 10px;
}

.picture-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.picture:nth-child(n + 13) {
  display: none;
}

.portfolio__bottom-line,
.about-us__bottom-line {
  margin: 0 auto;
  width: 1020px;
  height: 6px;
}

.about-us__bottom-line {
  background-color: #ffffff;
}

.portfolio__bottom-line {
  background-color: #323746;
}

.about-us-container {
  margin: auto;
  height: 660px;
  background-color: #f2f2f2;
  padding-top: 68px;
}

.persons-container {
  display: flex;
}

.person-cell {
  width: 300px;
  margin: 45px 0;
}

.person-cell:nth-child(2n) {
  margin: 45px 25px 19px;
}

.photo {
  width: 295px;
  height: 290px;
  margin-bottom: 27px;
}

.description {
  color: #767e9e;
  margin-bottom: 22px;
}

.social-ico-container {
  width: 158px;
  display: flex;
  justify-content: space-around;
}

.ico:hover {
  background-color: cadetblue;
  border-radius: 50%;
}

.person-container-description {
  margin-top: 29px;
  line-height: 29px;
  font-size: 18px;
  color: #767e9e;
}

/* Singolo 3*/

.main-form-container {
  margin: auto;
  background-color: #f06c64;
}

.main-form-wrapper {
  padding: 69px 0 7px;
}

.form-header {
  color: #f0d8d9;
  text-align: left;
  margin-bottom: 29px;
  margin-top: 5px;
  letter-spacing: -0.1em;
}

.form-paragraph {
  width: 940px;
  height: 57px;
  color: #f0d8d9;
  text-align: left;
  margin-bottom: 47px;
  text-align: justify;
  line-height: 28px;
}

/* form styles */
.form-contact-container {
  display: flex;
}

.form-block {
  margin-top: -1px;
  width: 620px;
}

.form-field::placeholder {
  font-family: "Lato Regular", sans-serif;
  font-size: 1.2rem;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: left;
}

/* textarea::placeholder {
  padding-top: 9px;
} */

.form-field {
  width: 619px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  height: 38px;
}

.form-field:not(:last-child) {
  margin-bottom: 15px;
}

.textarea-field {
  padding-top: 10px;
  resize: none;
  height: 202px;
}

.footer-container::before {
  content: "";
  display: block;
  background-color: #ea676b;
  height: 6px;
}

/* contact data styles*/

.contact-info-container {
  width: 301px;
}

.contact-data__item {
  display: flex;
  margin: 0 0 7px 0;
  font-size: 1.2 rem;
  color: #f0d8d9;
}

.contact-data__item::before {
  content: "";
  display: block;
  background-position: center;
  width: 11px;
  height: 11px;
  font-size: 1.2 rem;
}

a {
  text-decoration: none;
}

.contact-info-block {
  margin-left: 20px;
}

.contact-info {
  color: #f0d8d9;
  text-align: left;
  text-align: justify;
}

.contact-title {
  color: #f0d8d9;
  text-align: left;
  margin: -2px 0 10px;
  letter-spacing: -0.1em;
}

.contact-data-block {
  line-height: 8px;
}

.contact-data__item {
  margin: 0px 13px 0 0;
}

.contact-data__address {
  margin: 0px 10px 0 0;
}

.contact-data__phone {
  margin: -2px 13px 0 0;
}

.contact-data__mail {
  margin: -1px 13px 0 0;
}

.contact-data__address::before {
  background: url("./assets/images/location.png");
  margin: 7px 10px 0 0;
  background-size: 7px 11px;
  background-repeat: no-repeat;
}

.contact-data__phone::before {
  background: url("./assets/images/phone copy.png");
  margin: 7px 12px 0 0;
  background-size: 11px 11px;
  background-repeat: no-repeat;
}

.contact-data__mail::before {
  background: url("./assets/images/mail.png");
  margin: 8px 12px 0 0;
  background-size: 13px 8px;
  background-repeat: no-repeat;
}

input[type="submit"] {
  background-color: #f0d8d9;
  border: none;
  border-radius: 5px;
  color: #d6564f;
  padding: 10px 30px;
  text-decoration: none;
  margin: 5px auto;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #2d303a;
  color: #f5554e;
}

.submit-button-block {
  text-align: right;
}

.contact-description {
  margin-bottom: 21px;
}

/* footer styles */

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  height: 76px;
}

.footer-container {
  background-color: #2d303a;
}

.copyright-block {
  display: inline-block;
  font-size: 12px;
  color: #f0d8d9;
  margin-top: 32px;
  opacity: 0.5;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  width: 152px;
  background: 1px solid white;
}

.icon {
  width: 32px;
}

.icon:hover {
  background-color: cadetblue;
  border-radius: 50%;
  cursor: pointer;
}
